.topBar {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #3E64AC 14.28%, #712D85 14.28%, #712D85 28.56%, #E22B14 28.56%, #E22B14 42.84%, #EA672E 42.84%, #EA672E 57.12%, #FFDA1F 57.12%, #FFDA1F 71.4%, #35AC75 71.4%, #35AC75 85.68%, #5FC3E6 85.68%);
    position: fixed;
    top: 0;
    left: 0;
  }